body {
    background-color: #0f172a; /* Fondo Principal */
    background-image: radial-gradient(circle at 10% 20%, rgba(33, 158, 188, 0.1) 0%, transparent 20%),
                      radial-gradient(circle at 90% 80%, rgba(251, 133, 0, 0.1) 0%, transparent 20%);
}

.glass-panel {
    background: rgba(2, 48, 71, 0.6); /* #023047 con transparencia */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}

/* --- D3 GRAFOS (MODO OSCURO) --- */
svg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

.link {
    stroke: #475569; /* Gris azulado */
    stroke-width: 2px;
    transition: all 0.4s ease;
    stroke-opacity: 0.6;
}

/* Efectos de Algoritmos */
.link.highlight {
    stroke: #fb8500; /* Naranja - Camino Corto */
    stroke-width: 5px;
    stroke-opacity: 1;
    filter: drop-shadow(0px 0px 5px #fb8500);
    animation: dash 1s linear infinite;
}

.link.mst {
    stroke: #219ebc; /* Cian - MST */
    stroke-width: 5px;
    stroke-opacity: 1;
    filter: drop-shadow(0px 0px 5px #219ebc);
}

.link.flow {
    stroke: #d90429; /* Rojo - Flujo */
    stroke-width: 5px;
    stroke-opacity: 1;
}

.node circle {
    stroke: #fff;
    stroke-width: 2px;
    fill: #023047;
    transition: all 0.3s;
    cursor: pointer;
}

.node circle:hover {
    fill: #fb8500;
    r: 25;
}

.node text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    fill: white;
    font-size: 14px;
    pointer-events: none;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.8);
}

.edge-label {
    font-size: 14px;
    fill: #cbd5e1;
    font-weight: bold;
    background-color: #0f172a; /* Fondo fake para que se lea */
    paint-order: stroke;
    stroke: #0f172a;
    stroke-width: 4px;
}

/* Flechas */
marker#arrow { fill: #64748b; }
marker#arrow-active { fill: #fb8500; }

/* Inputs Personalizados */
.input-glass {
    background: rgba(15, 23, 42, 0.8);
    border: 1px solid rgba(255,255,255,0.1);
    color: white;
}
.input-glass:focus {
    border-color: #219ebc;
    outline: none;
    box-shadow: 0 0 0 2px rgba(33, 158, 188, 0.3);
}

/* Scrollbar personalizada */
::-webkit-scrollbar { width: 8px; }
::-webkit-scrollbar-track { background: #0f172a; }
::-webkit-scrollbar-thumb { background: #219ebc; border-radius: 4px; }
::-webkit-scrollbar-thumb:hover { background: #fb8500; }